<div class="main-container">
	<div class="about-text">
		<div style = "text-align: center">
			<br>

			<h4>びーとーくとは</h4>

			<p style ="size: 10000px;">びーとーくは初心者同士の交流サイトです。<br>
				何かをはじめたいけど、何をしたらいいのかわからない…<br>
				モチベーションが続くか不安…<br>
				誰かと励まし合いたい…<br>
				ここには初心者しかいません。<br>
			誰かと気軽に交流してみませんか？</p>
			
		</div>
	</div>
</div>