
<!-- 投稿一覧 -->
<div class="card mb-1">
  <div class="card-body">
    <table class="table-borderless">
   	  <table class=" table-hover">
	    <tbody>
		  <% posts.each do |post| %>
		    <tr>
			  <td>

			  <%= link_to user_path(post.user) do %>
			  <figure class="box">
			  <%= attachment_image_tag(post.user, :profile_image, size: "100x100", fallback: "default#{post.user.default_image}.png") %>
			  </figure>
			  <% end %>
			  </td>
			  <td>
			  <small>
			   
			  <%= link_to post.title, post_path(post), data: {"turbolinks" => false} ,class: "post_#{post.id}" %>
			  </small>
			  </td>
              <td>
	           <small>
		      <%= simple_format post.body %></small>
		        
		      </td>
			 
		   </tr>
			 <% end %>
		</tbody>
	  </table>
    </table>
  </div>
</div>