// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: grid;
}

.selection-group input[type="radio"] {
  display: none;
}

/* 画像部分に余白を持たせる */
label img {
  margin: 2px;
  padding: 6px;
}

/* 選択されたラジオボタンの画像の背景をオレンジ色に変える */
.selection-group input[type="radio"]:checked + label img {
  background: #f7c6bd;
}

.nomadBox2 {
  padding: 1.5em;
  margin: 1em 0;
  color: #272727;
  border: solid 1px #272727;
  border-radius: 5px;/*角の丸み*/
}
.nomadBox2 p {
    padding: 0;
    margin: 0;
}

.nomadBox8 {
  position: relative;
  margin: 1em 0;
  padding: 1.5em;
  color: #272727;
  border-top: solid 2px #272727;
  border-bottom: solid 2px #272727;
}
.nomadBox8:before,
.nomadBox8:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #272727;
}
.nomadBox8:before {left: 10px;}
.nomadBox8:after {right: 10px;}
.nomadBox8 p {
    margin: 0;
    padding: 0;
}

h2 {
  position: relative;
  padding: .8em .8em .8em 1.2em;
  color: #FFF;
  background: #92cb97;
  border-radius: 50em 50em 50em 50em;
}
h2:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50px;
  border: 10px solid transparent;
  border-top: 13px solid #92cb97;
  width: 0;
  height: 0;
}

h3 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  border-radius: 50em 50em 50em 50em;
}

h3:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 15px;
  border: 10px solid transparent;
  border-top: 13px solid #00bcd4;
  width: 0;
  height: 0;
}

h5{
  /*線の種類（実線） 太さ 色*/
  color: #272727;
  border-bottom: double 6px #272727;
  padding-bottom: .5em;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  text-decoration: none;
}

.button:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  text-decoration: none;
}

.button2 {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.button2:hover {
  background: #668ad8;
}

.button3 {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 20%;
  border:4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  text-decoration: none;
}

.form-image{
  display: inline-block;
  text-decoration: none;
  width: 50x;
  height: 50px;
  border:4px #668ad8;
  text-align: center;
  overflow: hidden;
  transition: .6s;
 }
