<footer class="container-fluid">
  <!-- アイコン -->
  <div class="row">
    <div class="footer-icons">
      <div class="col-md-1">
        <a href="#" class="btn-social-icon-twitter">
          <span class="btn-social-icon-twitter__square">
            <i class="fab fa-twitter"></i></span></a>
      </div>
      <div class="col-md-1">
        <a href="#" class="btn-social-icon-instagram">
          <span class="btn-social-icon-instagram__square">
            <i class="fab fa-instagram"></i></span></a>
      </div>
      <div class="col-md-1">
        <a href="#" class="btn-social-icon-facebook">
          <span class="btn-social-icon-facebook__square">
            <i class="fab fa-facebook-f"></i></span></a>
      </div>
    </div>
  </div>
  <!-- アイコン -->
  <div class="row">
      <div style = "text-align: center">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h3>お問い合わせ</h3>
          <p>
            <br>
            place to talk びーとーく<br>
            TEL：000-0000-0000 <br>
            MAIL ：000@0000.com <br>
            開発者：<br>
            ※年末年始、祝日は定休日
          </p>
    </div>
     <div class="col-md-4">
         <h3>開発のきっかけ</h3>
          <p>
            <br>
            転職活動をしていく中で人生を振り返り、自分が本当は好きだったもの、やりたかったことに気づきました。新しい挑戦をしていく中で、気軽に初心者同士で交流したり、有識者に教えてもらう場が欲しいと思い作成いたしました。
          </p>
    </div>
     <div class="col-md-3">
      <h3>テストアカウント</h3>
          <p>
          <br>
            name:もちもち<br>
            password:111111
            <br>
          </p>
      </div>
      <div class="col-md-1">
          <br>  <br>  <br>  <br>
        <%= image_tag 'logo.png', size: "100x100",class:"logo-image"%>
      </div>
   </div>
 </div>
 <p>©copyright beginner's place to talk びーとーく All Rights Reserved.</p>
</footer>